<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- brand -->
      <div *ngFor="let navitem of navitems">
      <a *ngIf="navitem.isHome" class="navbar-brand" href={{navitem.route}}>{{navitem.name}}</a>
      </div>

      <!-- BurgerMenu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- List of links in the right -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">          
          <li *ngFor="let navitem of navitems" class="nav-item">
            <a class="nav-link active" *ngIf="!navitem.isHome" href={{navitem.route}}>{{navitem.name}}</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>